<!DOCTYPE html>
<html lang="en">
  
  <%- include("head", {title: "Sensors"}); %>
  <body>
    <%- include("nav", {active: "sensors"}); %>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active tabhead"><a data-toggle="tab" href="#active">Active</a></li>
        <li class="tabhead"><a data-toggle="tab" href="#queue">Queue</a></li>
        <li class="tabhead"><a data-toggle="tab" href="#blocked">Blocked</a></li>
      </ul>

      <div class="tab-content">
		<form method="POST">
        <div id="active" class="tab-pane fade in active">
          <h3 style="font-size: 26px; margin-left: 20px;"><u>Active sensors:</u></h3>
          <hr>
          <div class="panel panel-body pre-scrollable">
            <table class="table">
                        <thead>
                            <tr>
                              <th class="col-md-3">ID</th>
                              <th class="col-md-3">Description</th>
                              <th class="col-md-2">Last Request Time</th>
                              <th class="col-md-2">Type</th>
                              <th class="col-md-2" style="padding-left: 10px;">Block</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% activeTableArray.forEach(function(row) { %>
							<tr>
								<td>
									<%= row.id; %>
								</td>
								<td>
									<%= row.description; %>
								</td>
								<td>
									Unavailable
								</td>
								<td>
									Unavailable
								</td>
								<td>
									<button class="btn btn-sm btn-danger" type="submit" name="block" value="<%= row.id; %>">Block</button>
								</td>
							</tr>
                            <% }); %>
                        </tbody>
                  </table>
                </div>
        </div>
        <div id="queue" class="tab-pane fade">
          <h3 style="font-size: 26px; margin-left: 20px;"><u>Queued sensors:</u></h3>
          <hr>
          <div class="panel panel-body pre-scrollable">
            <table class="table">
                        <thead>
                            <tr>
                              <th class="col-md-3">ID</th>
                              <th class="col-md-3">Description</th>
                              <th class="col-md-2">Last Request Time</th>
                              <th class="col-md-2">Type</th>
                              <th class="col-md-1" style="padding-left: 10px;">Activate</th>
                              <th class="col-md-1">Block</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% queuedTableArray.forEach(function(row) { %>
                            <tr>
								<td>
									<%= row.id; %>
								</td>
								<td>
									<%= row.description; %>
								</td>
								<td>
									Unavailable
								</td>
								<td>
									Unavailable
								</td>
								<td>
									<button class="btn btn-sm btn-success" type="submit" name="activate" value="<%= row.id; %>">Activate</button>
								</td>
								<td>
									<button class="btn btn-sm btn-danger" type="submit" name="block" value="<%= row.id; %>">Block</button>
								</td>
							</tr>
                            <% }); %>
                        </tbody>
                  </table>
                </div>
        </div>
        <div id="blocked" class="tab-pane fade">
          <h3 style="font-size: 26px; margin-left: 20px;"><u>Blocked sensors:</u></h3>
          <hr>
          <div class="panel panel-body pre-scrollable">
            <table class="table">
                        <thead>
                            <tr>
                              <th class="col-md-3">ID</th>
                              <th class="col-md-3">Description</th>
                              <th class="col-md-2">Last Request Time</th>
                              <th class="col-md-2">Type</th>
                              <th class="col-md-2" style="padding-left: 10px;">Activate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% blockedTableArray.forEach(function(row) { %>
                            <tr>
								<td>
									<%= row.id; %>
								</td>
								<td>
									<%= row.description; %>
								</td>
								<td>
									Unavailable
								</td>
								<td>
									Unavailable
								</td>
								<td>
									<button class="btn btn-sm btn-success" type="submit" name="activate" value="<%= row.id; %>">Activate</button>
								</td>
							</tr>
                            <% }); %>
                        </tbody>
                  </table>
                </div>
        </div>
		</form>
      </div>
    </div><!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
