<!DOCTYPE html>
<html lang="en">
  
  <%- include("head", {title: "Sensors"}); %>
  
  <script type="text/javascript">
  
	$(function(){
	
		setupGrpAdder("#group_adder_btn", "#group_adder", "#group_container", "#inpgrps");
		$(document).on("click", "#pol_group_container .group_delete", function(){		
			$(this).parent().remove();			
		});
		
		$("#pol_group_adder_btn").on("click", function(){
			var newgrp = $("#pol_group_adder").val();
			if(newgrp && $("#pol_group_container"+" [data-grp="+newgrp+"]").length == 0){
				$("#pol_group_container").append('<div data-grp="'+newgrp+'">'+newgrp+'<button type="button" class="pol_group_delete">Delete</button></div>');
			}
			else
				alert("New groups cannot be blank or existing ones!");
		});
		
		$(document).on("click", ".pol_group_delete", function(){			
			$(this).parent().remove();		
		});
		
		$("#settingform").on("submit", function(){
			if($("#inpgrps").val().length > 0)
				return true;
			else{
				alert("Sensors must be in at least one group!");
				return false;
				}
		});
	
	});
	
	function listNewGrps(cont, hidinp){
		var groups = $(cont+" > *").map(function(){
				return $(this).attr("data-grp");
			}).get();
			$(hidinp).val(groups.length > 0 ? JSON.stringify(groups):"");
	}
	
	function setupGrpAdder(btn, inp, target, hidinp){
		$(btn).on("click", function(){
			var newgrp = $(inp).val();
			if(newgrp && $(target+" [data-grp="+newgrp+"]").length == 0){
				$(target).append('<div data-status="new" data-grp="'+newgrp+'">'+newgrp+'<button type="button" class="group_delete">Delete</button></div>');
			}
			else
				alert("New groups cannot be blank or existing ones!");
				
			listNewGrps(target, hidinp);
		});
		
		$(document).on("click", target+" .group_delete", function(){
			
			$(this).parent().remove();
			listNewGrps(target, hidinp);
					
		});
	}
	
	function printPolicy(){
		var policy = new Object();
		var groups = $("#pol_group_container"+" > *").map(function(){
				return $(this).attr("data-grp");
			}).get();
		
		policy.Insert = $("#pol_write").val() == "Yes" ? true : false;
		policy.Groups = groups;
		
		$("#inppol").val(JSON.stringify(policy));
		
	}
  
  </script>
  <body>
    <%- include("nav", {active: "none"}); %>
    <div class="container">
	<form method="POST" id="settingform">
      <ul class="nav nav-tabs">
        <li class="active tabhead"><a data-toggle="tab" href="#active">Information</a></li>
        <li class="tabhead"><a data-toggle="tab" href="#queue">Policy</a></li>
      </ul>

      <div class="tab-content">
        <div id="active" class="tab-pane fade in active">
          <h3 style="font-size: 26px; margin-left: 20px;"><u><%= sensor %>:</u></h3>
          <hr>

			<div>
				<h4>Description</h4>
				<textarea name="description"><%= description %></textarea>
			</div>
			<hr/>
			
			<div>
				<h4>Groups</h4>
				<input type ="text" id="group_adder"/>
				<button type="button" id="group_adder_btn">Add</button>
				<br/><br/>
				<fieldset>
					<div id="group_container">
						<% groups.forEach(function(name) { %>
							<div data-status="existing" data-grp="<%= name %>"><%= name %><button type="button" class="group_delete">Delete</button></div>
                            <% }); %>
					</div>
				</fieldset>
			</div>
			<input type="hidden" name="grps" id="inpgrps" value="<%= JSON.stringify(groups) %>"/>
			<hr/>

        </div>
        <div id="queue" class="tab-pane fade">
          <h3 style="font-size: 26px; margin-left: 20px;"><u><%= sensor %>:</u></h3>
          <hr>
          <div>
				<h3>Insert data</h3>
				<h4>Allowed</h4>
				<select name="write" id="pol_write">
					<option <%= policies.Insert ? "" : "selected" %>>No</option>
					<option <%= policies.Insert ? "selected" : "" %>>Yes</option>
				</select>
			</div>
			<hr/>
			<div>
				<h3>Read data</h3>
				<div>
				<h4>From groups</h4>
				<input type ="text" id="pol_group_adder"/>
				<button type="button" id="pol_group_adder_btn">Add</button>
				<br/><br/>
				<fieldset>
					<div id="pol_group_container">
						<% policies.Groups.forEach(function(name) { %>
							<div data-grp="<%= name %>"><%= name %><button type="button" class="group_delete">Delete</button></div>
                            <% }); %>
					</div>
				</fieldset>
			</div>
			
			<input type="hidden" name="policy" id="inppol"/>
				
			</div>
			<hr/>
        </div>
        

      </div>
	  
	  <div class="" style="text-align: right; margin-top: 20px;">
           <td><button class="btn btn-sm btn-success" type="submit" onclick="printPolicy()" name="activate" value="<%= sensor %>"><%= (policies ? "Save" : "Activate") %></button></td>
  							  <td><button class="btn btn-sm btn-danger" type="submit" name="block" value="<%= sensor %>">Block</button></td>
			    </div>
	  
	</form>
    </div><!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

